.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin: 10px 100px;
  padding: 10px 20px;
  height: 60px;
  background-color: #b2b2b218;
  border: 1px solid black;
}

.Navimg {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 250px;
  height: auto;
}

.navList {
  display: flex;
  align-items: center;
}

.navList ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList ul li {
  margin-left: 60px; /* Space between list items */
}

.navList ul li a {
  text-decoration: none;
  color: #000000; /* Text color for links */
  font-size: 23px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navList ul li a:hover {
  color: #0056b3; /* Hover color for links */
}

.loginBtn button {
  background-color: #FE7318;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 30px; /* Adjusted padding for button */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginBtn button:hover {
  background-color: #e65d00; /* Slightly darker orange on hover */
  transform: scale(1.05);
}

.btnText {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
