.homeRegText h1 {
    font-size: 6em;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    line-height: 90px;
  }
  .homeRegText{
    width: 50%;
    margin: 0 0 0 2%;
  }
  .homeRegText h4 {
    text-transform:capitalize;
    font-size: 2.0em;
    text-align: left;
    color: transparent;
    max-width: 600px;
    margin: 0;
    letter-spacing: 1.0px;
    line-height: 30px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  .homeRegleft{
    display: flex;
    flex-direction: column;
  }
  .homeRegButton{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin-top: 5%;
    text-align: left;
    padding: 10px 50px;
    width: 70%;
  }
  .homeRegBtn01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .homeBtn3 {
    font-size: 15px; 
    text-align: left;
    font-weight: 500;
    line-height: 17px;
    font-family: "Poppins", sans-serif;
     /* White text color */
  }
  .homeBtn3:hover{
    color: #000000;
  
  }