/* home.css */
.home {
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
  }
  
  .homeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
  }
  
  .homeClass {
    margin-bottom: 20px;
  }
  
  .homeImg {
    width: 550px;
    height: auto;
  }
  
  .homeText h1 {
    font-size: 8em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ffffff;
    margin: auto;
  }
  
  .homeText h4 {
    text-transform:capitalize;
    font-size: 1.8em;
    color: transparent;
    max-width: 600px;
    margin: auto;
    letter-spacing: 1px;
    line-height: 30px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  }
  .homeText p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #ffffff;
    max-width: 600px;
    margin: auto;
    line-height: 30px;
  }
  
  .busSign{
    width: 100px;
  }
  /* home.css */

/* Button styling */
button {
  background-color: #FE7318; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 10px; /* Padding inside the button */
  text-align: center; /* Center text */
  text-decoration: none;
  display: inline-block;
  font-size: 30px; /* Font size */
  margin: 10px 2px; /* Space around the button */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 15px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

/* Hover effect for the button */
button:hover {
  background-color: #ffffff; /* Darker green */
  color: #000000;
  transform: scale(1.05);
  border: 1px solid black;
  filter: invert(0%); /* Slightly enlarge the button */
}

/* Container for the button contents */
.homeBtn {
  display: flex; /* Flexbox layout for alignment */
  align-items: center; /* Center items vertically */
  justify-content: center;
  width: 200px;
  padding: 5px 10px; /* Center items horizontally */
}

/* Styling for the image container */
.homeBtn1 {
  margin-right: 5%; /* Space between the image and text */
  display: flex;
  align-items: center; /* Center the image vertically */
}

/* Styling for the image */
.homeBtn1 img {
  width: 35px; /* Width of the image */
  height: 35px; /* Height of the image */
}

.homeBtn1 img:hover{
  filter: invert(0%);
}
/* Styling for the text */
.homeBtn2 {
  font-size: 20px; 
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
   /* White text color */
}
.homeBtn2:hover{
  color: #000000;

}
